<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::section}, 'Access Denied')}">
<body>
<section class="text-center">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <i class="bi bi-shield-exclamation display-1 text-warning"></i>
      <h1 class="display-4">403</h1>
      <h2>Access Denied</h2>
      <p class="lead">You don't have permission to access this section of the library.</p>
      <div class="mt-4">
        <a href="/" class="btn btn-primary">Return Home</a>
        <a href="/login" class="btn btn-outline-secondary">Login</a>
      </div>
    </div>
  </div>
</section>
</body>
</html>